@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 118.4rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.btn {
  font-family: inherit;
  padding: 0.9rem 3rem;
  border-radius: 10rem;
  border: 0.2rem solid #ebeaed;
  background-color: #fff;
  cursor: pointer;
  color: #1e0e62;
  font-size: 1.6rem;
  font-weight: 500;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
}

.header__logo:visited,
.header__logo:link {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.4rem;
  color: #1e0e62;
}

.intro {
  background-color: #f1f1f1;
}

.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  min-height: 52rem;
}

.intro__text {
  width: 42rem;
}

.intro__title {
  color: #1e0e62;
  font-weight: 700;
  font-size: 4.3rem;
  margin-bottom: 3.2rem;
}

.intro__description {
  color: #15143966;
  font-size: 2.2rem;
  font-weight: 400;
}

.intro__photo img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
